<app-header (filterClear)="filterChanged($event)"></app-header>
<div class="content">
    <app-search (filterChange)="filterChanged($event)"></app-search>
    <app-paginator [filter]="this.filter"></app-paginator>
    <div *ngIf="characters$ | async as characters">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="25%" fxFlex.xs="100%" *ngFor="let character of characters.results">
                <mat-card (click)="openDialog(character?.id)">
                    <mat-card-header>
                        <img mat-card-avatar [src]="character?.image" [alt]="character?.name">
                        <mat-card-title>{{ character?.name }}</mat-card-title>
                        <mat-card-subtitle>{{ character?.species }}</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image [src]="character?.image" [alt]="character?.name">
                    <mat-card-content>
                        {{ character?.status }}
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button (click)="saveCharacter(character)">Save</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>